$main-color: #705bfe;
$white: #fff;
$yellow: #fdef2e;
$dark: #23232c;
$blue: #03A9F4;
$turquoise: #6ef1ba;
$grey: #9E9E9E;
$light-gray: #eee;
$light-bg: #fafafa;
$red: #f2887e;
$pink: #ee4d69;
$green: #8BC34A;
$light-color: #e2eef9;
